{{!

    PAGINATION
    - User configuration of this file is not required.

}}

    <div class="pagination">
        {{#if next}}
            <a class="nextbutton" href="{{page_url next}}" class="largeoutline dark wide right">
                <span class="main">Next <i class="fas fa-angle-double-right"></i></span>
            </a>
        {{/if}}
        {{#if prev}}
            <a class="prevbutton" href="{{page_url prev}}" class="largeoutline dark wide left">
                <span class="main"><i class="fas fa-angle-double-left"></i> Previous</span>
            </a>
        {{/if}}
    </div>
