{{!
	TAG CLOUD
	! Configuration of this file is required.
	- Add common tags here for sidebar
	- Remove the default tags below if not used
	- Copy an example tag and replace the tag word in the /tag/ and > < sections
	- Replace spaces in tags with '%20' in the url eg. 'frontend%20development'
}}

<div class="widget tag_widget">
	<ul class="tags_list">
		{{#get "tags" limit="all" include="count.posts" order="count.posts DESC" }}
			{{#foreach tags}}
				<li><a href="{{url}}" class="">{{name}}</a></li>
			{{/foreach}}
		{{/get}}
	</ul>
</div>
