/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/387f35");


@font-face {font-family: 'LuloCleanOne-Bold';src: url('../fonts/387F35_0_0.eot');src: url('../fonts/387F35_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/387F35_0_0.woff2') format('woff2'),url('../fonts/387F35_0_0.woff') format('woff'),url('../fonts/387F35_0_0.ttf') format('truetype');}


@font-face {font-family: 'TTNorms-Bold';src: url('../fonts/387F35_1_0.eot');src: url('../fonts/387F35_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/387F35_1_0.woff2') format('woff2'),url('../fonts/387F35_1_0.woff') format('woff'),url('../fonts/387F35_1_0.ttf') format('truetype');}


@font-face {font-family: 'TTNorms-Medium';src: url('../fonts/387F35_2_0.eot');src: url('../fonts/387F35_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/387F35_2_0.woff2') format('woff2'),url('../fonts/387F35_2_0.woff') format('woff'),url('../fonts/387F35_2_0.ttf') format('truetype');}
