/*
    NOTIFICATION
*/
.notification {
  font: 500 22px 'Catamarran', Arial, Sans-Serif;
  margin-bottom: 20px;
  color: #353535;
  background-color: #fff;
  padding: 30px 20px 5px;
  border-radius: 8px;
  box-shadow: -2px 2px 20px rgba(0,0,0,.05);
  width: 94%;
  margin: 0 auto 20px;

  .notification-description {
      clear:both;
      padding-top: 1px;
      p{
        margin-top: 5px;
      }
  }

  .left {
    margin-top: 20px;

    i {
      color: #b15d5d;
      font-size: 18px;
    }
  }

  .right {
    margin-top: 10px;
  }

  &:first-child {
    padding-top: 0;
  }

  span {
    color: $accent_color;
  }

  a {
    color: #9b9b9b;
    transition: color 0.3s ease-out;

    &:hover {
      color: $accent_color;
    }
  }
  @media (max-width:1040px) {
    margin-top: 30px;
  }
  @media (max-width:600px) {
    .left {
      width: 90%;
    }
  }
}

.graybar {
  font: 500 16px 'TTNorms-Medium', Arial, Sans-Serif;
  margin: 10px 0;
  padding: 20px 25px;
  color: #4c4c4c;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ececec;

  i {
    margin-right: 15px;
    color: #606060;
  }
}
