.pagination {
  overflow: hidden;
  padding: 40px 5px 40px;
  text-align: center;

  a {
    background: none;
    color: $faded_text;
    font: 400 18px 'TTNorms-Medium', Sans-Serif;
    text-transform: uppercase;
  }

  a:hover {
    color: #b15d5d;
  }

  .nextbutton {
    float: right;

    i {
      margin: 0 0 2px 0;
      height: .7em;
      font-weight: 600;
    }
  }

  .prevbutton {
    float: left;

    i {
      margin: 0 0 2px 0;
      height: .7em;
    }
  }

  .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  .sub {
    display: none;
  }
  @media (max-width: 600px) {
    margin-bottom: 0;

    .pages {
      display: none;
    }

    img {
      width: 50px;
    }
  }

  .largeoutline i {
    margin: 0 3px;
  }
  @media (max-width: 385px) {
    .sub {
      display: block;
    }
  }
}
