/*
    POST
*/




.header {
  margin: 10px 0 15px;
  display: none;

  &.featured {
    display: none;
  }

  h1,
  h1 a {
    font: 600 4vw 'Montserrat',Arial,Sans-Serif;
    margin: 0 0 5px;
    line-height: 1.2;
  }
}

.postfooter {
  margin: 40px 0 35px;

  .social {
    display: flex;
    justify-content: space-around;

    a {
      width: 23%;
      text-align: center;
      white-space: nowrap;
    }
  }

  .tags {
    margin: 20px 0 0;
  }

  .tags_list li a {
    margin: 0 10px 12px 0 !important;
  }

  .svg-inline--fa {
    margin-right: 5px;
    @media (max-width: 600px) {
      margin-right: 0;
      font-size: 16px;
    }
  }
  @media (max-width: 1040px) {
    margin: 20px 0 0;
  }
  @media (max-width: 600px) {
    .social a span {
      display: none;
    }
  }
}

.page-template {
  .postfooter {
    border-bottom: 0 !important;
  }

  h1 {
    text-align: center;
  }

  h2:first-child {
    margin-top: 0;
  }
}

.tags {
  overflow: hidden;

  .banner,
  .feature {
    display: none;
  }
  @media (max-width:1040px) {
    margin-bottom: 0;
  }
}

.permalink {
  font: 400 14px 'Open Sans', Arial, Sans-Serif;
  margin-top: 20px;
  color: #a0adad;

  a {
    font: 400 14px 'Open Sans', Arial, Sans-Serif;
    color: #a0adad;
    display: none;
  }
}
/* Adding section headers to articles */
.post-template .sectionimage {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  box-shadow: inset -10px -58px 61px -28px rgba(0, 0, 0, .5);

  h2 {
    position: absolute;
    z-index: 200;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 30px 15px;
    color: #fff;
    text-shadow: -1px 1px #2b2626;
  }
}
@media (max-width:600px) {

  .post-template .largesolid i {
    margin: 0;
  }

  .page-template .content {
    margin-top: 0 !important;
  }

  .page-template .logo {
    top: 15px !important;
    left: 15px !important;
  }

  .page-template h1 {
    text-align: center;
  }
}

.comments {
  display: none;
}
