/*
    POST INTRO
*/
.titleintro {
  margin-bottom: 15px;
  padding: 140px 0 140px;
  border-radius: 0 0 8px 8px;
  background-size: cover;
  background-position: center;
  @media(max-width: 1040px) {
    padding: 130px 20px;
    border-radius: 0;
    margin-bottom: 15px;
  }
  @media(max-width: 800px) {
    line-height: 1.3;
  }
  @media(max-width: 600px) {
    height: 600px;
    padding: 0;

    .titlewrap {
      position: absolute;
      top: 0;
      padding: 0;
      width: 95%;
      display: block;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      display: -moz-box;
      -moz-box-orient: vertical;
      -moz-box-pack: center;
      -moz-box-align: center;
      display: box;
      box-orient: vertical;
      box-pack: center;
      box-align: center;
      height: max-content;
    }
  }

  .date,
  .tag {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 18px !important;
    font-weight: 600;
    position: relative;
    z-index: 3;

    a {
      display: none;
      color: #fff;
      font-weight: 400;

      &:nth-of-type(1) {
        display: inline;
        font-weight: 600;
      }
    }
  }

  .svg-inline--fa.fa-w-16 {
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
  }

  .svg-inline--fa.fa-w-20 {
    margin-right: 5px;
    font-size: 13px;
    color: #fff;
  }

  h1 {
    font: 700 5ch 'Montserrat',Sans-Serif;
    line-height: normal;
    line-height: 1;
    padding: 0 0 20px;
    color: #fff;
    position: relative;
    z-index: 3;
    width: 93%;
    margin: auto;
    text-transform: uppercase;
    @media(max-width: 1040px) {
      font: 700 5.5ch 'Montserrat',Serif;
      line-height: 1.1;
    }
    @media(max-width: 800px) {
      font: 700 4ch 'Montserrat',Serif;
      line-height: 1.1;
    }
    @media(max-width: 600px) {
      font: 700 4ch 'Montserrat',Serif;
      margin: 0 auto 15px;
      padding: 0;
      width: 100%;
    }
  }

  span {
    color: #fff;
    z-index: 10;
    position: relative;
    font: 400 20px 'Montserrat', Serif;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 1.3 !important;
    @media(max-width: 1040px) {
      width: 70%;
      font: 400 19px 'Montserrat',Serif;
    }
    @media(max-width: 800px) {
      width: 90%;
    }
    @media(max-width: 600px) {
      font: 400 18px 'Montserrat',Serif;
    }
  }

  .overlay {
    top: 0;
    z-index: 0;
    opacity: 0.75 !important;
    border-radius: 0 0 8px 8px;
    width: 100%;
    position: absolute;
    height: 100%;
    background: black;
    left: 0;
    @media(max-width: 1040px) {
      border-radius: 0;
    }
  }
}
