/*
    POST LIST
*/
/* applies to all inckuding posts */
.postlist {
  .author_widget {
    display: none;

    .featured {
      padding: 43px 0;
    }
  }

  .info {
    padding: 0 0 15px !important;
    overflow: hidden;
    z-index: 10;
    display: block;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 15px;

    .left a,
    .reading-time,
    .right a {
      color: $faded_text;
      font: 400 16px 'Montserrat',Arial,Sans-Serif;
      display: inline-block;
      float: none;
    }

    a {
      transition: all 0.2s ease-out;

      &:hover {
        color: #b15d5d !important;
      }
    }

    .date {
      margin-right: 25px;
      font-size: 18px;
      @media (max-width: 600px) {
        margin-right: 0;
      }
    }
  }

  article:last-child {
    margin-bottom: 0 !important;
  }
  @media (max-width: 1040px) {
    display: block;
    width: 94%;
    margin: 0 auto;

    article {
      .largeimage {
        text-align: center;

        .inlinetext p,
        p:first-child {
          margin-top: 25px;
        }

        h1 {
          line-height: 50px;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
          margin-top: 0;
        }
      }
    }
  }

  article:nth-of-type(5) {
    margin-bottom: 0 !important;
  }
  @media (max-width:600px) {
    article p:first-child,
    article:first-child {
      margin-top: 0 !important;
    }
  }

  article p.inlinelower {
    clear: both;
    margin: 50px 0 0;
  }
}
/* does not apply to posts */
.postlist article {
  .info {
    overflow: hidden;
    padding: 10px 0;

    .svg-inline--fa {
      font-size: 12px;
      width: auto;
      color: $faded_text;
    }

    .footer {
      overflow: hidden;
      padding: 0 30px;

      .right {
        margin-left: 15px;
      }

      .largeimage {
        border-radius: 4px;
      }
    }
    @media(max-width: 1280px) {
      .left a {
        display: none;
      }
    }
    @media (max-width: 1040px) {
      padding: 0;
    }
    @media(max-width: 600px) {
      /* hides tags on mobile */
      .right {
        & > .svg-inline--fa,
        .reading-time,
        .tags {
          display: none;
        }
      }
    }
  }

  .author {
    display: none;
  }

  .postfeature {
    display: block;
  }

  .basicfeature {
    width: 100%;
    height: 260px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #141313;
    background-position: center;
    background-size: cover;
  }

  .inlinefeature {
    width: 100%;
    height: 260px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #141313;
    background-position: center;
    background-size: cover;
  }

  .inlinetext p {
    margin-top: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  p.inlinelower {
    clear: both;
    margin: 50px 0 0;
  }

  .info {
    overflow: hidden;

    .fa-eye {
      color: $faded_text;
    }

    .author {
      font-weight: 600;
    }

    .tags {
      margin-right: 25px;

      a {
        display: none;
      }

      .svg-inline--fa {
        display: inline;
      }

      a:nth-of-type(1) {
        display: inline;
      }

      .banner,
      .feature {
        display: none;
      }
    }

    .svg-inline--fa {
      margin-right: 5px;
    }

    a {
      font: 400 17px 'Open Sans', Arial, Sans-Serif;
      color: #858585;

      &:hover {
        color: darken($accent_dark_color, 10%);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer {
    overflow: hidden;
    font-weight: 600;
    padding: 0 40px 0 30px;

    .largesolid.orange {
      border-radius: 10px;
      font-family: 'montserrat';
      float: right;
      font-weight: 500;
      font-size: 18px;
      background: #fff;
      margin: 0 auto 30px;
      text-align: center;
      display: block;
      border: 1px solid #b15d5d;
      color: #b15d5d;
      transition: all 0.2s ease-out;
      padding: 15px 35px;
      @media (max-width:600px) {
        font-size: 16px;
        padding: 12px 23px;
        border-radius: 6px;
        font-weight: 400;
      }

      &:hover {
        background-color: #b15d5d;
        color: white;
      }
    }

    a {
      font: 400 18px 'Open Sans', Arial, Sans-Serif;
      color: $faded_text;
      &:hover {
        color: $accent_color;
      }
      @media (max-width: 600px) {
        margin-right: 0;
        font-size: 17px;
      }
    }

    .left {
      margin-top: 14px;
      & > a {
        margin-right: 25px;
        font: 400 17px 'Montserrat',Arial,Sans-Serif;
      }
      & > a .svg-inline--fa {
        margin-right: 10px;
      }
      span a .svg-inline--fa {
        margin-right: 5px;
      }
      .tags {
        a {
          font: 400 17px 'Montserrat',Arial,Sans-Serif;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }

      .tags * {
        display: none;

        &:nth-of-type(1) {
          display: inline;
        }
      }

      .banner,
      .feature {
        display: none;
      }

      a {
        @media (max-width: 600px) {
          font-size: 17px;
          margin-right: 0;
        }
      }
      @media (max-width: 1040px) {
        padding: 0;
      }
      @media (max-width: 600px) {
        margin-top: 9px;
      }
    }

    .right {
      margin-left: 15px;
    }
    @media (max-width: 600px) {
      padding: 0 25px !important;
      height: 60px;
      margin-bottom: 15px;

      .tags {
        display: none;
      }
    }
  }

  h1 {
    &:first-child {
      margin-top: 0;
    }

    a:hover {
      color: $accent_color;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  .largeimage {
    position: relative;
    display: block;
    overflow: hidden;
    height: 400px;
    border-radius: 10px 10px 0 0;
    background-color: #141313;
    background-position: center;
    background-size: cover;
    width: auto;
    @media (max-width: 1040px) {}
    @media (max-width: 800px) {
      margin: 0 !important;
      border: 0 !important;
      height: 250px;
    }

    .shadow {
      position: absolute;
      z-index: 100;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      transition: box-shadow 0.3s ease-out;
      -webkit-box-shadow: inset -10px -174px 131px -27px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset -10px -174px 131px -27px rgba(0, 0, 0, 0.75);
      box-shadow: inset -10px -174px 131px -27px rgba(0, 0, 0, 0.75);
    }

    h1,
    h1 a {
      position: absolute;
      z-index: 200;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 40px;
      transition: color 0.3s ease-out;
      color: #fff;
    }

    &:hover h1 a {
      color: $accent_color;
    }

    &:hover .shadow {
      -webkit-box-shadow: inset -10px -244px 131px -27px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset -10px -244px 131px -27px rgba(0, 0, 0, 0.75);
      box-shadow: inset -10px -244px 131px -27px rgba(0, 0, 0, 0.75);
    }
  }
  @media (max-width: 475px) {
    .likesbutton {
      display: none;
    }
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 35px;
      line-height: 39px;
      margin: 20px !important;
    }

    .largeimage {
      height: 225px !important;
      border: 1px solid #9a9a9a;
    }
  }
}

.author-template,
.home-template,
.paged,
.tag-template {
  .postlist article {
    border-radius: 16px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #dedede;
    box-shadow: 0 0 20px #e8e8e8;

    p {
      padding: 0 20px;
      @media(max-width: 700px) {
        padding: 0 20px;
        margin-bottom: 15px;
      }
    }

    h1 {
      margin: 30px 20px 20px;
      text-align: left;
    }

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &.postfeature {
      display: block;
    }

    &.basicfeature,
    &.inlinefeature {
      width: 100%;
      height: 260px;
      margin-bottom: 50px;
      border-radius: 10px;
      background-color: #141313;
      background-position: center;
      background-size: cover;
    }

    .largeimage {
      margin: 10px;

      &:hover {
        opacity: 0.8;
      }

      h1,
      h1 a {
        position: absolute;
        z-index: 200;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 30px 30px 20px;
        transition: color 0.3s ease-out;
        color: #fff;
        text-shadow: -1px 1px #2b2626;
      }

      &:hover h1 a {
        color: $accent_color;
      }
    }
    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }
}
