/* Recent Post Container */
.post-template .recent-container {
  display: flex;
  justify-content: space-between;
}
/* Hide Recent Posts on Pages */
.page-template .recentposts {
  display: none;
}

.recentposts {
  width: 100%;
  margin: 0 auto 20px;

  h3 {
    margin-top: 25px !important;
  }
  @media (max-width:1040px) {
    width: 94%;
  }
}

.recent-container {
  padding-top: 0;
  width: 100%;

  h4 {
    display: none;
  }
  @media (max-width:1040px) {
    border-top: 0;
    padding-top: 10px;
  }
  @media (max-width: 600px) {
    display: block !important;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: -5px;

    h4 {
      display: block;
      font-size: 32px;
      margin: 0 0 15px;
      padding-top: 30px;
      color: #565656;
    }

    .recent-post:last-child {
      margin-bottom: 0;
    }
  }
}

.post-template .recent-post {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ececec;
  overflow: visible;
  border-radius: 6px;
  width: 32%;
  position: relative;
  @media (max-width: 900px) {
    height: 290px;
  }
  @media (max-width: 600px) {
    height: 111px;
    border: 1px solid #ececec;
    margin-bottom: 5px;
    width: 100%;
  }

  .recent-image {
    width: 100%;
    height: 150px;
    display: block;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: -1px 1px 0 rgba(0,0,0,.3);
    font-weight: 900;
    font-size: 25px;
    line-height: 23px;
    padding: 15px;
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    transition: opacity 0.3s ease-out;
    border-left: 1px solid #ececec;

    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 600px) {
      box-shadow: inset -200px -200px 5px rgba(0,0,0,.4);
      border-radius: 4px;
      width: 120px;
      float: right;
      border-radius: 0 8px 8px 0;
      height: 100%;
    }

    .recenttitle {
      padding: 0 0 10px 0 !important;
      color: #fff;
      float: none;
      font-size: 24px!important;
      line-height: 1.1;
      bottom: 0;
      position: absolute;
      height: auto;
      text-shadow: -1px 1px rgba(0, 0, 0, 0.2), 1px -1px rgba(0, 0, 0, 0.2), 1px 1px rgba(0, 0, 0, 0.2), -1px -1px rgba(0, 0, 0, 0.2);
      display: none;
      margin: 0;
    }

    a:nth-of-type(1) {
      color: #fff;
      font-weight: 900;
      font-size: 16px;
      bottom: 0;
      display: none;
      float: right;
      @media (max-width: 600px) {
        display: none;
        padding: 5px 10px;
        border-radius: 0 0 0 5px;
        position: absolute;
        top: 0;
        right: 0;
        height: 36px;
        color: #fff;
        text-shadow: none;
        background: #b15d5d;
      }
    }

    i {
      color: #fff;
      margin-left: 5px;
    }
  }

  .recentdescription {
    font-size: 14px;
    line-height: 23px;
    padding: 0 20px;
    overflow: hidden;
    margin-bottom: 69px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  .recentpost-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  /* tags */
  .recentposttag {
    float: left;
    padding-left: 20px;
    margin-top: 11px;
    color: $faded_text;
    font: 500 15px 'Montserrat', Serif;

    * {
      display: none;
    }

    .svg-inline--fa {
      padding: 0 !important;
    }
    /* display first tag */
    .svg-inline--fa:nth-of-type(1),
    .svg-inline--fa:nth-of-type(1) path {
      font-size: 14px;
      color: $faded_text;
      display: inline-block;
      margin-right: 5px;
    }

    a:nth-of-type(1) {
      display: inline !important;
      font: 500 15px 'Montserrat',Arial,Sans-Serif;
      color: $faded_text;
      @media (max-width: 900px) {
        font-size: 14px;
      }
      @media (max-width: 600px) {
        display: block;
        padding: 0;
        color: #777777 !important;
        font-weight: 500 !important;
      }
    }
    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

  .recent-description-title {
    padding: 15px 15px 0;
    line-height: 1.2;
    margin: 0;
    font-size: 2.6ch;
    font-weight: 600;
    color: #565656;
    -webkit-box-orient: vertical !important;
    font-family: 'Source Serif Pro';
    @media (max-width: 900px) {
      height: auto;
      font-size: 19px!important;
      text-align: left;
      padding: 20px 20px 0 20px!important !important;
      overflow: hidden;
    }
    @media (max-width: 600px) {
      overflow: hidden;
      display: -webkit-box !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      margin: 1.1em 0 0;
      padding: 0 15px;
    }
  }

  .largesolid.orange {
    display: block !important;
    bottom: 0;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 12px 14px;
    color: #b15d5d;
    background: white;
    border: 1px solid #b15d5d;
    transition: all 0.2s ease-out;
    border-radius: 20px;

    &:hover {
      color: white;
      background: #b15d5d;
    }

    i {
      margin-left: 2px;
    }
    @media (max-width:1040px) {
      padding: 10px 12px;
      font-size: 11px;
    }
    @media (max-width:600px) {
      margin-top: 21px;
      display: none !important;
    }
  }

  p:nth-of-type(2) {
    display: none !important;
  }
}
