/*
    SOCIAL BUTTONS
*/
.social_widget {
  a {
    opacity: 0.7;
    transition: 0.2s all ease-out;
    color:$faded_text;

    &:hover {
      font-size: 32px;
      opacity: 1;
    }
  }

  .twitter {
    &:hover {
      color: $twitter_color;
    }
  }

  .angellist {
    &:hover {
      color: $github_color;
    }
  }

  .github {
    &:hover {
      color: $github_color;
    }
  }

  .quora {
    &:hover {
      color: $quora_color;
    }
  }

  .linkedin {
    &:hover {
      color: $linkedin_color;
    }
  }

  .rss {
    &:hover {
      color: $rss_color;
    }
  }
}

.social_outline {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  transition: border-color 0.2s ease-in, color 0.1s ease-in, background 0.2s ease-in;
  text-align: center;
  border: 0 solid #000;
  border-radius: 60px;

  i {
    vertical-align: -7px !important;
  }

  &.twitter {
    border-color: $twitter_color;

    i {
      color: $twitter_color;
    }

    &:hover {
      background: $twitter_color;
    }
  }

  &.facebook {
    border-color: $facebook_color;

    i {
      color: $facebook_color;
    }

    &:hover {
      background: $facebook_color;
    }
  }

  &.google {
    border-color: $google_color;

    i {
      color: $google_color;
    }

    &:hover {
      background: $google_color;
    }
  }

  &.dribbble {
    border-color: $dribbble_color;

    i {
      color: $dribbble_color;
    }

    &:hover {
      background: $dribbble_color;
    }
  }

  &.instagram {
    border-color: $instagram_color;

    i {
      color: $instagram_color;
    }

    &:hover {
      background: $instagram_color;
    }
  }

  &.github {
    border-color: $github_color;

    i {
      color: $github_color;
    }

    &:hover {
      background: $github_color;
    }
  }

  &.angellist {
    border-color: $github_color;

    i {
      color: $github_color;
    }

    &:hover {
      background: $github_color;
    }
  }

  &.rss {
    border-color: $rss_color;

    i {
      color: $rss_color;
    }

    &:hover {
      background: $rss_color;
    }
  }

  &.youtube {
    border-color: $youtube_color;

    i {
      color: $youtube_color;
    }

    &:hover {
      background: $youtube_color;
    }
  }

  &.pinterest {
    border-color: $pinterest_color;

    i {
      color: $pinterest_color;
    }

    &:hover {
      background: $pinterest_color;
    }
  }

  &.linkedin {
    border-color: $linkedin_color;

    i {
      color: $linkedin_color;
    }

    &:hover {
      background: $linkedin_color;
    }
  }

  &.skype {
    border-color: $skype_color;

    i {
      color: $skype_color;
    }

    &:hover {
      background: $skype_color;
    }
  }

  &.quora {
    border-color: $quora_color;

    i {
      color: $quora_color;
    }

    &:hover {
      background: $quora_color;
    }
  }

  &.tumblr {
    border-color: $tumblr_color;

    i {
      color: $tumblr_color;
    }

    &:hover {
      background: $tumblr_color;
    }
  }

  &.meetup {
    border-color: $meetup_color;

    i {
      color: $meetup_color;
    }

    &:hover {
      background: $meetup_color;
    }
  }

  &.medium {
    border-color: $medium_color;

    i {
      color: $medium_color;
    }

    &:hover {
      background: $medium_color;
    }
  }

  &.pocket {
    border-color: $pocket_color;

    i {
      color: $pocket_color;
    }

    &:hover {
      background: $pocket_color;
    }
  }

  &.codecademy {
    border-color: $codecademy_color;

    i {
      color: $codecademy_color;
    }

    &:hover {
      background: $codecademy_color;
    }
  }

  &:hover i {
    color: #fff;
  }
}

.social_solid {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  transition: border-color 0.2s ease-in, color 0.1s ease-in, background 0.2s ease-in;
  text-align: center;
  border-radius: 60px;

  i {
    vertical-align: -10px !important;
  }

  &.twitter {
    background: $twitter_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $twitter_color;
    }
  }

  &.facebook {
    background: $facebook_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $facebook_color;
    }
  }

  &.google {
    background: $google_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $google_color;
    }
  }

  &.dribbble {
    background: $dribbble_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $dribbble_color;
    }
  }

  &.instagram {
    background: $instagram_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $instagram_color;
    }
  }

  &.angellist,
  &.github {
    background: $github_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $github_color;
    }
  }

  &.rss {
    background: $rss_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $rss_color;
    }
  }

  &.youtube {
    background: $youtube_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $youtube_color;
    }
  }

  &.pinterest {
    background: $pinterest_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $pinterest_color;
    }
  }

  &.linkedin {
    background: $linkedin_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $linkedin_color;
    }
  }

  &.skype {
    background: $skype_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $skype_color;
    }
  }

  &.tumblr {
    background: $tumblr_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $tumblr_color;
    }
  }

  &.quora {
    background: $quora_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $quora_color;
    }
  }

  &.meetup {
    background: $meetup_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $meetup_color;
    }
  }

  &.medium {
    background: $medium_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $medium_color;
    }
  }

  &.pocket {
    background: $pocket_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $pocket_color;
    }
  }

  &.codecademy {
    background: $codecademy_color;

    i {
      color: #fff;
    }

    &:hover i {
      color: $codecademy_color;
    }
  }

  &:hover i {
    color: #fff;
  }

  &:hover {
    background: #fff;
  }
}
