{{!

	INDEX TEMPLATE
	- Configuration of this file is not required.

}}
{{!< default}}

{{! WIDGET - BLOG INFO }}
	<div class="container">
		<div class="customcontainer">

			{{> sidebar_default}}

			<div class="content">

				{{> responsive_nav}}

				{{! POSTLIST }}
				<div class="postlist">
					{{> loop}} {{pagination}}
				</div>

			</div>

		</div>
	</div>
